---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";

const { data: posts } = await loadQuery<SanityDocument[]>({
  query: `*[_type == "post"]`,
});
---
<!doctype html>
<html>
  <head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <h1>Have some posts!</h1>
      {posts.map((post) => (
        <a href={`/blog/${post.slug.current}`}>{post.title}</a>
      ))}
    </main>
  </body>
</html>
